$background-color: #333;
$foreground-color: #fff;
$border-color: #555;
$hover-background-color: #444;
$selected-background-color: #555;
$disabled-color: #777;
$tick-color: #0f0;

.dropdown {
  position: relative;
  display: inline-block;
  width: 40%;

  &.upward .menu {
    bottom: 100%;
    top: auto;
  }

  .selected {
    padding: 8px 12px;
    background-color: $background-color;
    border: 1px solid $border-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $foreground-color;

    &:after {
      content: '▼';
      margin-left: 10px;
      font-size: 12px;
      color: $foreground-color;
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $background-color;
    border: 1px solid $border-color;
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .search {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border-bottom: 1px solid $border-color;
      background-color: $background-color;
      color: $foreground-color;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .item {
        padding: 8px 12px 8px 32px; // Add padding to the left for the tick mark
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: $background-color;
        position: relative;
        color: $foreground-color;

        &:hover {
          background-color: $hover-background-color;
        }

        &.hovered {
          background-color: $hover-background-color;
        }

        &.disabled {
          cursor: not-allowed;
          color: $disabled-color;
        }

        &.selectedItem {
          background-color: $selected-background-color;
        }

        .tick {
          position: absolute;
          left: 8px; // Position tick mark within the left padding space
          color: $tick-color;
        }

        .icon {
          margin-right: 8px;
        }
      }
    }
  }
}
